{% load staticfiles %}
{% load guardian_tags %}
{% load g3wadmin_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>G3W-SUITE</title>
<!-- CSS  -->
<link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'frontend/css/font-awesome.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'frontend/css/simple-line-icons.css' %}" type="text/css" media="all">
<link href='https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,300,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/cookieconsent/build/cookieconsent.min.css' %}" />
<style>
    .home-block {
        color:{{ home_image.main_color }};
        background: #fff url('{{ home_image_path }}{{ home_image.image }}') no-repeat top left;
    }

    .home-block h1 {
        color: {{ home_image.main_title_color }};
    }

    .home-block .home-content p {
        color: {{ home_image.main_color }};
    }

    .subtitle {
        color: {{ home_image.subtitle_color }};
    }

</style>
{% if analytics_js_code %}
    {{ analytics_js_code|safe }}
{% endif %}
</head>

<body>
<div class="container">
<!-- Home Block-->
  <div id="home_wrapper">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 home">
      <div class="home-block">
        <!--
        <div class="social-buttons"> 
        <a class="facebook" href="#" target="_blank"></a>
        <a class="twitter" href="#" target="_blank"></a>
        <a class="google-plus" href="#" target="_blank"></a>
        <a class="rss" href="#" target="_blank"></a>
        <a class="pintrest" href="#" target="_blank"></a>
        <a class="linkedin" href="#" target="_blank"></a>

 
        </div>
         -->
        <div class="subtitle">{{ generaldata.sub_title }}</div>
        <h1 class="tk-source-sans-pro">{{ generaldata.title }}</h1>
        <div class="home-content">
            {% if generaldata.suite_logo %}
            <img src="{{ MEDIA_URL }}{{ generaldata.suite_logo }}" alt="logo"><br>
            {% endif %}
          <br><br>
         <p>{{ generaldata.home_description|safe }}
             {% if home_image.author %}
             <br><br>
             Photo by
             {% if home_image.author_url %}
             <a href="{{ home_image.author_url }}">
             {% endif %}
                 {{ home_image.author }}
             {% if home_image.author_url %}
             </a>
             {% endif %}
             {% endif %}
         </p>
         <!--
          <form>
            <input type="search" name="s" placeholder="Search this site">
          </form>
          -->
        </div>
      </div>
    </div>

    <!-- Menu Block-->
    <div class="col-lg-5 ol-md-5 col-sm-12 col-xs-12">
      <div class="colours tk-museo-sans stuck "> 
      <a href="#" class="colour_link who_we_are" data-current="false">
      <span data-colour="#f2b701" data-name="about_it" class="colour" >
      <span>
      <i class="menu-img icon-globe"></i>
       {% trans 'About It' %}
   
       </span>
       </span>
        </a> 
       
       <a href="#" class="colour_link guestbook" data-current="false">
       <span data-colour="#dc0030" data-name="groups" class="colour" >
       <span>
        <i class="menu-img icon-map"></i>
        {% trans 'Maps' %}

        </span>
        </span>
        </a>
        
        <a href="#" class="colour_link products" Accidentcurrent="false">
        <span data-colour="#7c378a" data-name="login" class="colour">
        <span>
        <i class="menu-img icon-lock"></i>
        {% if user.is_authenticated %}{% trans 'Admin' %}{% else %}{% trans 'Login' %}{% endif %}
        </span>
        </span>
        </a>

        </div>
    </div>
  </div>
</div>


<!-- Content-->
<div class="content-panel">
  <div class="content-box">
    <div class="icon-home">
    <a href="#">Home</a>
    </div>
    {% if user.is_authenticated %}
    <div class="icon-admin-home">
    <a href="{% url 'home' %}">{% trans 'Adminstration' %}</a>
    </div>
    {% endif %}
    <div class="page_name">All Pages</div>
    <h1 class="tk-source-sans-pro"></h1>
    <div class="paragraphs"></div>
  </div>
</div>

   <!-- about-->
    <div class="about_it hidden">
      <div class="page_name tk-museo-sans">{% trans 'About It' %}</div>
      <h1 class="tk-source-sans-pro">{{ generaldata.about_title }}</h1>

      <div class="paragraphs tk-source-sans-pro">
       <div class="normal-text">{{ generaldata.about_description|safe }}</div>
       <div class="info-block">
       <ul>
       <li class="name"><strong>{{ generaldata.about_name }}</strong></li>
       <li class="phone">{{ generaldata.about_tel }}</li>
           <li class="email"><a class="blank" href="mailto:{{ generaldata.about_email }}">{{ generaldata.about_email }}   </a></li>
       <li class="address">{{ generaldata.about_address }}</li>
        <li><div class="social-buttons">
    {% if generaldata.facebook_url %}
     <a class="facebook" href="{{ generaldata.facebook_url }}" target="_blank"></a>
    {% endif %}
    {% if generaldata.twitter_url %}
     <a class="twitter" href="{{ generaldata.twitter_url }}" target="_blank"></a>
    {% endif %}
    {% if generaldata.googleplus_url %}
     <a class="google-plus" href="{{ generaldata.googleplus_url }}" target="_blank"></a>
    {% endif %}
    {% if generaldata.youtube_url %}
     <a class="youtube" href="{{ generaldata.youtube_url }}" target="_blank"></a>
    {% endif %}
    {% if generaldata.instagram_url %}
     <a class="instagram" href="{{ generaldata.instagram_url }}" target="_blank"></a>
    {% endif %}
    {% if generaldata.flickr_url %}
     <a class="flickr" href="{{ generaldata.flickr_url }}" target="_blank"></a>
    {% endif %}
    {% if generaldata.tripadvisor_url %}
     <a class="tripadvisor" href="{{ generaldata.tripadvisor_url }}" target="_blank"></a>
    {% endif %}

     </div></li>
       </ul>
       </div>
        <div class="photo-img"><img src="{% static 'frontend/images/photo-img1.jpg' %}" alt="Sarah Smith"  style="alignment-baseline:"/></div>
      </div>
    </div>
  
  <!-- What we do-->  
<div class="groups hidden">
  <div class="page_name tk-museo-sans">{% trans 'Maps' %}</div>
  <h1 class="tk-source-sans-pro">{{ generaldata.groups_title }}</h1>
  <div class="paragraphs tk-source-sans-pro">
    <div class="normal-text"> {{ generaldata.groups_map_description|safe }} </div>
    <div class="container padd-30"> 
     <!-- Service Row -->
      <div class="row">

        {% for group in groups %}
        {% get_obj_perms user for group as "group_perms" %}
        <!-- Service -->
        <div class="col-md-4">
          <div class="box group-box"  data-name="maps-{{ group.slug }}">
            <span data-name="group-maps-{{ group.id }}"></span>
            <div class="icon" style="height:100px; background-image:url('{{ MEDIA_URL }}{{ group.header_logo_img }}')"></div>
            <h5>{{ group.title }}</h5>
            <hr>
            <!--<p> {{ group.description|safe }}</p>-->
          </div>
          {% if "change_group" in group_perms %}
            <div class="editing-group-button">
                <div>
                    <a href="{% url 'group-update' group.slug %}" target="_blank">
                    <span class="icon-pencil"></span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
      {% endfor %}

      </div>
    </div>

    <div class="group-projects">
        <div class="container">
        </div>
    </div>


  </div>
</div>

{% for group in groups %}
{% get_obj_perms user for group as "group_perms" %}
<div class="group-maps-{{ group.id }} hidden">
    <div class="page_name tk-museo-sans">{% trans 'Group maps' %}</div>
    <h1 class="tk-source-sans-pro">{{ group.title }}</h1>
      <div class="row">
        <div class="col-md-12 col-sd-12 maps-{{ group.slug }}">
        <div class="paragraphs">
            <div class="row normal-text group-maps-description">
                <div class="col-md-12  col-lg-12 col-sm-12">
                    {{ group.description|safe }}
                </div>
            </div>
            {% with group.getProjects as projects %}
            {% with group.get_panoramic_project as pano_project %}
            {% for app, project in projects %}
            {% if project != pano_project or projects|length == 1 %}
            {% get_obj_perms user for project as "project_perms" %}
            {% get_obj_perms anonimoususer for project as "project_perms_anonymoususer" %}
            {% if "view_project" in project_perms or "view_project" in project_perms_anonymoususer %}
                <div class="project-data padd-40" {% if forloop.last %}style="padding-bottom:60px;"{% endif %}>
                <div class="block row row-project" style="display:flex; align-items: center;">
                    <div class="col-md-3 col-lg-3 col-sm-4" style="text-align: center; background: #8aa4af url({{ MEDIA_URL }}{{project.thumbnail }})">
                        <div class="row">
                            <div class="col-md-12" style="min-height: 100px;">
                                <!--<div class="icon"> <img class="img-thumbnail" src="{{ MEDIA_URL }}{{project.thumbnail }}" alt=""> </div>-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="action action-project" >
                                    <a class="go-admin btn btn-main btn-showmap" href="{% url 'group-project-map' group.slug project.get_type project.pk %}" target="_blank">{% trans 'Show map' %}</a>
                                </p>
                            </div>
                        </div>
                        {% if "change_project" in project_perms %}
                        <div class="editing-project-button">
                            <div>
                                {% with project.get_type|add:'-project-update' as project_update_link %}
                                <a href="{% url project_update_link group.slug project.slug %}" target="_blank">
                                <span class="icon-pencil"></span>
                                </a>
                                {% endwith %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-9  col-lg-9 col-sm-8">
                        <div class="row" >
                            <div class="col-md-12">
                                <h3 class="">{{ project.title }}</h3>
                            </div>
                             <div class="col-md-12 text-muted">
                                {{ project.description|safe}}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endwith %}
            {% endwith %}
        </div>
        </div>
    </div>
</div>
{% endfor %}





<!-- work -->
<div class="login hidden">
<div class="page_name tk-museo-sans">{% if user.is_authenticated %}{% trans 'Admin' %}{% else %}{% trans 'Login' %}{% endif %}</div>
<h1 class="tk-source-sans-pro">
    {% if user.is_authenticated %}
    {% trans 'Access to backend administration stystem or logout' %}
    {% else %}
    {% trans 'Login to go backend administration system' %}
    {% endif %}
</h1>
<div class="paragraphs tk-source-sans-pro">
<div class="normal-text">{{ generaldata.login_description|safe }}</div>

    <div class="paragraphs no-columns tk-source-sans-pro">
    <div class="block row">
      <div class="col-md-6">
      {% if user.is_authenticated %}
      <div class="login-out-button">
        <span class="filter">
            <a class="btn btn-main go-admin" href="{% url 'home' %}">{% trans 'Backend' %}</a>
        </span>
        <span class="action">
            <a class="btn btn-main btn-logout go-admin" href="{% url 'logout'%}?next=/">{% trans 'Logout' %}</a>
        </span>
      </div>
      {% else %}
        <form class="contact-form" action="{% url 'frontend-ajax-login' %}">
            <div class="login-errors hidden"></div>
            {% csrf_token %}
            <input type="text" class="form-control" id="user" name="username" placeholder="USERNAME">
            <input type="password" class="form-control" id="password" name="password" placeholder="PASSWORD">
            <button class="submit-btn submit-login" type="submit" id="send" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."> {% trans 'Login' %}</button>
        </form>
        <div id="result-message" role="alert"></div>
      {% endif %}
      </div>

    </div>
  </div>
</div>
</div>




<!-- #main .wrapper --> 
<!-- #page --> 

<script type="text/javascript" src="{% static 'frontend/js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/cookieconsent/build/cookieconsent.min.js' %}"></script>
{% include 'core/include/coockieconsent.html' %}
</body>
</html>