{% load staticfiles %}
{% load guardian_tags %}
{% load g3wadmin_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page_title }}</title>
{% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL and SETTINGS.G3WSUITE_FAVICON %}
<link rel="icon" href="{{ SETTINGS.G3WSUITE_FAVICON }}">
{% else %}
<link rel="icon" href="{% static '/img/favicon.ico' %}">
{% endif %}
<!-- CSS  -->
<link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'frontend/css/font-awesome.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'frontend/css/simple-line-icons.css' %}" type="text/css" media="all">
<link href='https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,300,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/cookieconsent/build/cookieconsent.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/simplelightbox.min.css' %}" />
<style>
    .home-block {
        color:{{ home_image.main_color }};
        {% if SETTINGS.FRONTEND_IMAGES_URL %}
        background: #fff url('{{ SETTINGS.FRONTEND_IMAGES_URL }}{{ home_image.image }}') no-repeat top left;
        {% else %}
        background: #fff url(../../static/frontend/images/home/{{ home_image.image }}) no-repeat top left;
        {% endif %}
    }

    .home-block h1 {
        color: {{ home_image.main_title_color }};
    }

    .home-block .home-content p {
        color: {{ home_image.main_color }};
    }

    .subtitle {
        color: {{ home_image.subtitle_color }};
    }
</style>
{% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
{% for css in SETTINGS.G3WSUITE_CUSTOM_CSS %}
<link rel="stylesheet" type="text/css" href="{{ css }}" />
{% endfor %}
{% endif %}

{% if analytics_js_code %}
    {{ analytics_js_code|safe }}
{% endif %}
</head>

<body>
<div class="container">
<!-- HOME page-->
{% include 'frontend/include/home.html' %}
</div>

<!-- OUTSIDE FROM DISPLAY VIEW -->
<!-- MENU top-right-->
{% include 'frontend/include/menu.html' %}

<!-- ABOUT page -->
{% include 'frontend/include/about.html' %}

<!-- GROUPS/MACROGROUPS grid page -->
<div class="groups hidden">
  <div class="page_name tk-museo-sans">{% trans 'Maps' %}</div>
  <h1 class="tk-source-sans-pro">{{ generaldata.groups_title }}</h1>
  <div class="paragraphs tk-source-sans-pro">
    <div class="normal-text"> {{ generaldata.groups_map_description|safe }} </div>
    <div class="container padd-30">
     <!-- Service Row -->

    {% if macrogroups|length > 0 %}
    <h2 class="groups-section-title">{% trans 'Thematic macrogroups' %}</h2>
      <div class="row">

        {% for group, children in macrogroups.items %}
        {% get_obj_perms user for group as "group_perms" %}
        <!-- Service -->
            {% include 'frontend/include/group_grid.html' %}
        {% endfor %}
      </div>
    {% endif %}
    <h2 class="groups-section-title">{% trans 'Thematic groups' %}</h2>
      <div class="row">

        {% for group, children in groups.items %}
        {% get_obj_perms user for group as "group_perms" %}
        <!-- Service -->
            {% include 'frontend/include/group_grid.html' %}
        {% endfor %}
      </div>
    </div>
    <div class="group-projects">
        <div class="container">
        </div>
    </div>
  </div>
</div>

<!-- MACROGROUPS MAPS grid page -->
{% for group, children in macrogroups.items %}
{% get_obj_perms user for group as "group_perms" %}
<!-- build als for macrogroup children -->
{% if children.children|length > 0 %}
    {% for gchild in children.children %}
        {% with group=gchild children=0 %}
            <div class="group-maps-{{ group.id }} hidden">

                {% include 'frontend/include/map_grid.html' %}
            </div>
        {% endwith %}
    {% endfor %}
{% endif %}
<div class="{% if children.children|length > 0 %}macro{% endif %}group-maps-{{ group.id }} hidden">
    {% include 'frontend/include/map_grid.html' %}
</div>
{% endfor %}

<!-- MAPS grid page -->
{% for group, children in groups.items %}
{% get_obj_perms user for group as "group_perms" %}
<!-- build als for macrogroup children -->
{% if children.children|length > 0 %}
    {% for gchild in children.children %}
        {% with group=gchild children=0 %}
            <div class="group-maps-{{ group.id }} hidden">

                {% include 'frontend/include/map_grid.html' %}
            </div>
        {% endwith %}
    {% endfor %}
{% endif %}
<div class="{% if children.children|length > 0 %}macro{% endif %}group-maps-{{ group.id }} hidden">
    {% include 'frontend/include/map_grid.html' %}
</div>
{% endfor %}

<!-- LOGIN page -->
{% include 'frontend/include/login.html' %}


<!-- #main .wrapper -->
<!-- #page -->

<script type="text/javascript" src="{% static 'frontend/js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/cookieconsent/build/cookieconsent.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/simple-lightbox.min.js' %}"></script>
{% include 'core/include/coockieconsent.html' %}
<script>
    var lightbox = null;
    $(document).ready(function($){

    });

</script>
</body>
</html>